# Key/value pairs are separated by white space
# Lines starting with # and empty lines are ignored
# Only the first two values are evaluated, so for lines like:
#     KEYVALUE VALUE1 VALUE2
# VALUE2 is ignored
# For files & directories: Must specify full path

# SCICOMP JOB ACCOUNTING
PROJECT                       halld
TRACK                         production
OS                            el9
USER			      gabyrod			# PUT YOUR USER NAME HERE !!!

# JOB RESOURCES
NCORES                        4
DISK                          300GB
RAM                           8GB
TIMELIMIT                     3hrs

# WORKFLOW DEFINITION
# RUNPERIOD, VERSION, & BATCH: Not needed by launch.py: Only used to replace variables in this config
RUNPERIOD                     2018-08
VERSION                       20
BATCH                         02
WORKFLOW                      dselector_[RUNPERIOD]_ver[VERSION]_batch[BATCH]

# JOB, SCRIPT CONTROL
ENVFILE                       version_6.0.0.xml # latest release
SCRIPTFILE                    /w/halld-scshelf2101/home/gabyrod/ksmisskl_gabyrod_gluex1_PWA/swif2/DSelector/script.sh

# ROOT CONFIG
ROOT_SCRIPT                   /w/halld-scshelf2101/home/gabyrod/ksmisskl_gabyrod_gluex1_PWA/swif2/DSelector/Run_Selector.C
TREE_NAME                     ksmisskl__B3_M16_Tree
SELECTOR_NAME                 /w/halld-scshelf2101/home/gabyrod/ksmisskl_gabyrod_gluex1_PWA/swif2/DSelector/DSelector_kskl      # Leave .C off of the end!

# FILE INPUT, OUTPUT BASE DIRECTORIES
INDATA_TOPDIR     /mss/halld/RunPeriod-[RUNPERIOD]/analysis/ver[VERSION]/tree_ksmisskl__B3_M16/merged/

# FILE OUTPUT
OUTDIR_LARGE      /volatile/halld/home/[USER]/root_analysis/RunPeriod-[RUNPERIOD]/ver[VERSION]        # tree, hist
OUTDIR_SMALL      /farm_out/[USER]/root_analysis/RunPeriod-[RUNPERIOD]/ver[VERSION]/batch[BATCH]/     # log files

